# Fig pre block. Keep at the top of this file.
[[ -f "$HOME/.fig/shell/zshrc.pre.zsh" ]] && builtin source "$HOME/.fig/shell/zshrc.pre.zsh"
#
# Executes commands at the start of an interactive session.
#
# Authors:
#   Sorin Ionescu <sorin.ionescu@gmail.com>
#

# Source Prezto.
if [[ -s "${ZDOTDIR:-$HOME}/.zprezto/init.zsh" ]]; then
  source "${ZDOTDIR:-$HOME}/.zprezto/init.zsh"
fi

# -----------------------------------------------------------------------------
# Zsh Plugin
# -----------------------------------------------------------------------------

### Added by Zinit's installer
if [[ ! -f $HOME/.local/share/zinit/zinit.git/zinit.zsh ]]; then
    print -P "%F{33} %F{220}Installing %F{33}ZDHARMA-CONTINUUM%F{220} Initiative Plugin Manager (%F{33}zdharma-continuum/zinit%F{220})…%f"
    command mkdir -p "$HOME/.local/share/zinit" && command chmod g-rwX "$HOME/.local/share/zinit"
    command git clone https://github.com/zdharma-continuum/zinit "$HOME/.local/share/zinit/zinit.git" && \
        print -P "%F{33} %F{34}Installation successful.%f%b" || \
        print -P "%F{160} The clone has failed.%f%b"
fi

source "$HOME/.local/share/zinit/zinit.git/zinit.zsh"
autoload -Uz _zinit
(( ${+_comps} )) && _comps[zinit]=_zinit

# Load a few important annexes, without Turbo
# (this is currently required for annexes)
zinit light-mode for \
    zdharma-continuum/zinit-annex-as-monitor \
    zdharma-continuum/zinit-annex-bin-gem-node \
    zdharma-continuum/zinit-annex-patch-dl \
    zdharma-continuum/zinit-annex-rust

### End of Zinit's installer chunk

zinit light olets/zsh-abbr

# -----------------------------------------------------------------------------
# alias
# -----------------------------------------------------------------------------

{{ if eq .chezmoi.os "linux" }}
  alias ll='exa -aahl --icons'
  alias ls='exa --icons'
  alias cat='batcat -pp'
  alias less='batcat'
{{ else }}
  alias ll='exa -aahl --icons --git'
  alias ls='exa --icons --git'
  alias cat='bat -pp'
  alias less='bat'
{{ end }}

# -----------------------------------------------------------------------------
# abbreviations
# -----------------------------------------------------------------------------
export ABBR_QUIETER=1

## GitHub
abbr -S gj="cd (ghq root)/(ghq list | peco)"
abbr -S ghg="ghq get"
abbr -S ghget="ghg"
abbr -S gho="code (ghq root)/(ghq list | peco)"
abbr -S ghopen="gho"
abbr -S ghr="cd (ghq root)"
abbr -S ghroot="ghr"
abbr -S ghb="gh browse"
abbr -S ghbrowse="ghb"

## Git
abbr -S g="git"
abbr -S ga="git add"
abbr -S gs="git status"
abbr -S gr="git restore"
abbr -S gc="git commit -m"
abbr -S gb="git branch -a --sort=-authordate | grep -v -e '->' -e '*' | perl -pe 's/^\h+//g' | perl -pe 's#^remotes/origin/##' | peco | xargs git switch"
abbr -S gn="git switch -c"
abbr -S gd="git diff"
abbr -S gf="git fetch"
abbr -S gpull="git pull"
abbr -S gpush="git push"

## chezmoi
abbr -S ch="chezmoi"
abbr -S chc="chezmoi cd"
abbr -S cho="code (chezmoi source-path)"
abbr -S chr="chezmoi re-add"
abbr -S cha="chezmoi add"
abbr -S chap="chezmoi apply"
abbr -S chp="chezmoi_push"
abbr -S chzsh="chezmoi edit ~/.zshrc && chezmoi apply ~/.zshrc && source ~/.zshrc"

## asdf
abbr -S ad="asdf"
abbr -S adi="asdf install"
abbr -S adl="asdf list"
abbr -S adla="asdf list-all"
abbr -S adg="asdf global"

## k8s
abbr -S k="kubectl"
abbr -S kg="kubectl get"
abbr -S kgp="kubectl get pods"
abbr -S kgd="kubectl get deployment"
abbr -S kgs="kubectl get service"
abbr -S kd="kubectl describe"
abbr -S kdp="kubectl describe pod"
abbr -S ka="kubectl apply -f"
abbr -S ke="kubectl exec"
abbr -S ki="kubectl iexec"
abbr -S kii="/Users/nappa/ghq/github.com/nappa/work/scripts/k8s_exec_selecter.mjs"

## docker
abbr -S --force dc="docker-compose"
abbr -S dcu="docker-compose up"

# terraform
abbr -S tf="terraform"

## dev
abbr -S codere="code --remote ssh-remote+nappa-dev /home/ubuntu/ghq/(ssh nappa-dev ghq list | peco)"

# -----------------------------------------------------------------------------
# Buisiness
# -----------------------------------------------------------------------------

{{ if eq .chezmoi.hostname "nappa-work" }}
  source ~/.kube/kube-config/clustername-ps1/clustername-ps1.fish
{{ end }}

# -----------------------------------------------------------------------------
# Function
# -----------------------------------------------------------------------------

function peco-select-history() {
    local tac
    if which tac > /dev/null; then
        tac="tac"
    else
        tac="tail -r"
    fi
    BUFFER=$(\history -n 1 | \
        eval $tac | \
        peco --query "$LBUFFER")
    CURSOR=$#BUFFER
    zle clear-screen
}
zle -N peco-select-history
bindkey '^r' peco-select-history

function chezmoi_push() {
  chezmoi git -- add -A
  chezmoi git -- commit -m 'update'
  chezmoi git -- push
}

# -----------------------------------------------------------------------------
# Other
# -----------------------------------------------------------------------------

# Fig post block. Keep at the bottom of this file.
[[ -f "$HOME/.fig/shell/zshrc.post.zsh" ]] && builtin source "$HOME/.fig/shell/zshrc.post.zsh"
